.app {
  height: 100%;
}

form {
  width: 400px;
  border: solid 1.5px rgba(0, 0, 0, 0.788);
  border-radius: 1em;
  margin: 3em auto;
  padding: 1.2em;
}

.form-group {
  padding: 0.6em;
}
.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 0.6em;
  width: 100%;
}
